<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link rel="stylesheet" href="assets/styles/style.css">
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&display=swap" rel="stylesheet">
        trukdo jsui
    -->
</head>
<body>
    <div id="sidebar">
        <div id="sidebar__top">
            <div id="sidebar__top__logo">

            </div>
            <div id="sidebar__top__phone">
                +3700000000
            </div>
        </div>
        <a id="sidebar__a">Menu</a>
        <div id="sidebar__menu">
            <ul>
                <li>
                    <a href="#">Solutions</a>
                </li>
                <li>
                    <a href="#">Our Work</a>
                </li>
                <li>
                    <a href="#">About us</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div id="sidebar__bottom">
            <div id="sidebar__bottom__soc">
                <a href="#">
                    <img src="assets/images/facebook2.svg" />
                </a>
                <a href="#"> 
                    <img src="assets/images/instagram2.svg" />
                </a>
                <a href="#">
                    <img src="assets/images/twitter2.svg" />
                </a>
                <a href="#">
                    <img src="assets/images/youtube2.svg" />
                </a>
                <a href="#">
                    <img src="assets/images/linkedin2.svg" />
                </a>
            </div>
            <div id="sidebar__bottom__copyright">
                © 2020 Web Profits. All Rights Reserved
            </div>
        </div>
    </div>
    <section class="header">
        <nav class="header__topNav">
            <div class="header__topNav__logo">

            </div>
            <div class="header__topNav__menu">
                <ul class="header__topNav__menu__items">
                    <li>
                        <a href="#">Solutions</a>
                        <ul class="header__topNav__menu__submenu">
                            <li>
                                Consulting
                            </li>
                            <li>
                                Growth marketing
                            </li>
                            <li>
                                Creative
                            </li>
                            <li>
                                Website design
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Out Work</a>
                        <ul class="header__topNav__menu__submenu">
                            <li>
                                Design solutions
                            </li>
                            <li>
                                Case studies
                            </li>
                            <li>
                                Showreel
                            </li>
                        </ul>
                        <!-- del isnykstancio submenu zr https://www.w3schools.com/howto/howto_css_dropdown.asp -->
                    </li>
                    <li>
                        <a href="#">About Us</a>
                        <ul class="header__topNav__menu__submenu">
                            <li>
                                Who we are
                            </li>
                            <li>
                                What we believe
                            </li>
                            <li>
                                Working with us
                            </li>
                            <li>
                                News
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
                <a class="header__topNav__menu__phone" href="tel:+370000000000">
                    +37000000000
                </a>
            </div>
            <div class="header__topNav__menu__adapt">
                <a class="header__topNav__menu__adapt__phone" href="tel:+370000000000">
                    +37000000000
                </a>
                <a id="adapt__btn">

                </a>
            </div>
        </nav>
        <div class="header__banner__wr">
            <div class="header__banner__wr__content">
                <h1>Build a comprehensive growth strategy</h1>
                <p>Take your marketing to the next level with a Fluid approach to Growth Marketing</p>
                <a class="header__banner__wr__content__btn">
                    <span class="header__banner__wr__content__btn__text">Get in touch</span>
                    <span class="header__banner__wr__content__btn__arr"></span>
                </a>
            </div>
        </div>
        <div class="header__bottom__shape">
            <img src="assets/images/shape.svg" />
        </div>
    </section>
    <section class="icons">
        <h2>A Fluid approach to Growth Marketing</h2>
        <div class="icons__container">
            <div class="icons__container__card">
                <img src="assets/images/icon1.png" />
                <h3>A team of specialists</h3>
                <p>A group of exceptional marketers, specialising in different channels & platforms.</p>
            </div>
            <div class="icons__container__card">
                <img src="assets/images/icon2.png" />
                <h3>Experienced leaders</h3>
                <p>Our Growth Leads are not account managers, they are marketers with a lot of experience.</p>
            </div>
            <div class="icons__container__card">
                <img src="assets/images/icon3.png" />
                <h3>The whole customer journey</h3>
                <p>Focussing on the role each channel and tactic play as part of a wider marketing strategy.</p>
            </div>
            <div class="icons__container__card">
                <img src="assets/images/icon4.png" />
                <h3>Working to a single goal</h3>
                <p>Instead of setting individual targets, the team works to an overall goal that each member has a role in achieving.</p>
            </div>
            <div class="icons__container__card">
                <img src="assets/images/icon5.png" />
                <h3>Moving the budget fluidly</h3>
                <p>This allows for marketing budgets to be moved quickly to where they will get the best result.</p>
            </div>
            <div class="icons__container__card">
                <img src="assets/images/icon6.png" />
                <h3>Achieving faster growth</h3>
                <p>This agility allows for faster decision making, and ultimately reaching the goal faster.</p>
            </div>
        </div>
    </section>
    <section class="coffee">
        <div class="coffee__top__shape">
            <img src="assets/images/shape.svg" />
        </div>
        <div class="coffee__header">
            <h2>
                Let’s chat over<br/>
                a coffee
                <a class="coffee__header__btn">
                    <div class="coffee__header__btn__in">
                        <span class="coffee__header__btn__in__text">Get in touch</span>
                        <span class="coffee__header__btn__in__arr"></span>
                    </div>
                    
                </a>
            </h2>
        </div>
    </section>
    <section class="achieve">
        <h2>
            What Growth Marketing can achieve
        </h2>
        <div class="achieve__row">
            <div class="achieve__row__pict1">
                <div class="achieve__row__pict1__heading">
                    <b>255%</b> increase in Monthly Super signups
                </div>
                <div class="achieve__row__pict1__text">
                    <span>FLUID MARKETING</span>
                    <span>Australian Ethical</span>
                    <span>Find out more</span>
                    <span></span>
                </div>
            </div>
            <div class="achieve__row__pict2">
                <div class="achieve__row__pict2__heading">
                    <b>100%</b> Increase in Annual Revenue
                </div>
                <div class="achieve__row__pict2__text">
                    <span>FLUID MARKETING</span>
                    <span>Aussie Broadband</span>
                    <span>Find out more</span>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="achieve__btn">
            <span class="achieve__btn__text">See more case studies</span>
            <span class="achieve__btn__arr"></span>
        </div>
    </section>
    <section class="team">
        <h2>Meet the team</h2>
        <div class="team__p">
            <p>A formidable team of digital growth specialists who combine growth hacking techniques and agile methodologies to smash your growth targets.</p>
        </div>
        <div class="team__row">
            <div class="team__row__card">
                <div class="team__row__card__img">
                    <img src="assets/images/Ollie.jpg" />
                </div>
                <h3>Ollie de Vries</h3>
                <p>Head of Aquisition</p>
            </div>
            <div class="team__row__card">
                <div class="team__row__card__img">
                    <img src="assets/images/Ales.jpg" />
                </div>
                <h3>Ales</h3>
                <p>Principal Consultant</p>
                <p>Social media</p>
            </div>
            <div class="team__row__card">
                <div class="team__row__card__img">
                    <img src="assets/images/Matt.jpg" />
                </div>
                <h3>Matthew</h3>
                <p>Principal consultant</p>
                <p>Acquisition</p>
            </div>
        </div>
        <div class="team__arrows">
            <a class="team__arrows__left"></a>
            <a class="team__arrows__right"></a>
        </div>
        <div class="team__btn">
            <span class="team__btn__text">Get in touch</span>
            <span class="team__btn__arr"></span>
        </div>
    </section>
    <section class="video">
        <h3>
            What our clients have to say
        </h3>
        <iframe style="width: 100% !important; height: 100% !important;" src="https://www.youtube.com/embed/KNpqiix-hQ4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
    <section class="goodcompany">
        <div class="goodcompany__title">
            <h2>You're in good company</h2>
            <div class="goodcompany__title__left">

            </div>
            <div class="goodcompany__title__right">

            </div>
        </div>
        <div class="goodcompany__logos">
            <div class="goodcompany__logos__images">
                <img src="assets/images/AUSSIE-BROADBAND.png" />
            </div>
            <div class="goodcompany__logos__images">
                <img src="assets/images/SLATER-GORDON.png" />
            </div>
            <div class="goodcompany__logos__images">
                <img src="assets/images/JAYBIRD.png" />
            </div>
            <div class="goodcompany__logos__empt">

            </div>
            <div class="goodcompany__logos__images">
                <img src="assets/images/fiig.png" />
            </div>
            <div class="goodcompany__logos__images">
                <img src="assets/images/CUA.png" />
            </div>
            <div class="goodcompany__logos__images">
                <img src="assets/images/WESTFIELD.png" />
            </div>
            <div class="goodcompany__logos__images">
                <img src="assets/images/BLUESTONE.png" />
            </div>
            <div class="goodcompany__logos__images">
                <img src="assets/images/ENGIN.png" />
            </div>
        </div>
        <div class="goodcompany__1260">
            <div class="goodcompany__1260__left">

            </div>
            <div class="goodcompany__1260__right">

            </div>
        </div>
    </section>
    <section class="goodcompany__768">
        <h2>You're in good company</h2>
        <div class="goodcompany__768__logos">
            <div class="goodcompany__768__logos__images">
                <img src="assets/images/AUSSIE-BROADBAND.png" />
            </div>
            <div class="goodcompany__768__logos__images">
                <img src="assets/images/SLATER-GORDON.png" />
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="goodcompany__768__arrows">
            <div class="goodcompany__768__arrows__left">

            </div>
            <div class="goodcompany__768__arrows__right">

            </div>
        </div>
    </section>
    <section class="letschat">
        <div class="letschat__center">
            <h2>
            Let’s chat over a coffee
            </h2>
            <p>
                If you're interested in driving revenue online, growing market share, and staying ahead of your competition, then get in touch.
            </p>
            <a class="letschat__center__btn">
                <span class="letschat__center__btn__text">Get in touch</span>
                <span class="letschat__center__btn__arr"></span>
            </a>
        </div>
        

    </section>
    <section class="awards">
        <h2>Awards and Certifications</h2>
        <div class="awards__container">
            <a href="#"><img src="assets/images/AMI-National-Winners.png" /></a>
            <a href="#"><img src="assets/images/Premier-Google-Partner.png" /></a>
            <a href="#"> <img src="assets/images/Semrush-Winner.png" /></a>
            <a href="#"><img src="assets/images/Bing-Rising-Star-Agency.png" /></a>
            <a href="#"><img src="assets/images/Facebook-Marketing-Partner.png" /></a>
        </div>
    </section>
    <footer>
        <div class="footer__top">
            <div class="footer__top__container">
                <div class="footer__top__container__column">
                    <h5>SOLUTIONS</h5>
                    <ul>
                        <li>
                            <a href="#">Consulting</a>
                        </li>
                        <li>
                            <a href="#">Growth Marketing</a>
                        </li>
                        <li>
                            <a href="#">Acquisition Marketing</a>
                        </li>
                        <li>
                            <a href="#">Search + Content Marketing</a>
                        </li>
                        <li>
                            <a href="#">Social Media Marketing</a>
                        </li>
                        <li>
                            <a href="#">Web Design</a>
                        </li>
                        <li>
                            <a href="#">Creative</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__top__container__column">
                    <h5>ABOUT</h5>
                    <ul>
                        <li>
                            <a href="#">Out Team</a>
                        </li>
                        <li>
                            <a href="#">Our Story</a>
                        </li>
                        <li>
                            <a href="#">Working with Us</a>
                        </li>
                        <li>
                            <a href="#">Careers</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li>
                            <a href="#">Events</a>
                        </li>
                        <li>
                            <a href="#">Contact us</a>
                        </li>
                    </ul>
                    <div class="footer__top__container__column__social">
                        <a href="#">
                            <img src="assets/images/facebook.svg" />
                        </a>
                        <a href="#"> 
                            <img src="assets/images/instagram.svg" />
                        </a>
                        <a href="#">
                            <img src="assets/images/twitter.svg" />
                        </a>
                        <a href="#">
                            <img src="assets/images/youtube.svg" />
                        </a>
                        <a href="#">
                            <img src="assets/images/linkedin.svg" />
                        </a>
                        <a href="#">
                            <img src="assets/images/snapchat.svg" />    
                        </a>
                    </div>
                </div>
                <div class="footer__top__container__column">
                    <h5>OUR WORK</h5>
                    <ul>
                        <li>
                            <a href="#">Design Portfolio</a>
                        </li>
                        <li>
                            <a href="#">Case Studies</a>
                        </li>
                        <li>
                            <a href="#">Showreel</a>
                        </li>
                        
                    </ul>
                </div>
                <div class="footer__top__container__right">
                    <h5>INSIDE DIGITAL</h5>
                    <p>
                        Want to keep up to date with the latest digital strategies, insights, and case studies? Just enter your email address to sign up to our newsletter.
                    </p>
                    <form>
                        <input type="text" placeholder="you@company.com" /><br/>
                        <input type="button" value="Subscribe" />
                    </form>
                </div>
            </div>
        </div>
        <div class="footer__middle">
                <div class="footer__middle__col">
                    <h6>Australia</h6>
                    <h5>SYDNEY</h5>
                    <p>
                        L3, 79 Myrtle Street<br/>
                        Chippendale NSW 2008<br/>
                        Phone: 02 8806 6800<br/>
                    </p>
                </div>
                <div class="footer__middle__col">
                    <h5>MELBOURNE</h5>
                    <p>
                        Level 1, 145 Russell Street<br/>
                        Melbourne VIC 3000<br/>
                        Phone: 03 8488 7821<br/>
                    </p>
                </div>
                <div class="footer__middle__col">
                    <h6>Asia</h6>
                    <h5>SINGAPORE</h5>
                    <p>
                        1 George St, Level 10<br/>
                        Singapore 049145<br/>
                        Phone: +65 6813 3090<br/>
                    </p>
                </div>
                <div class="footer__middle__col">
                    <h6>United States</h6>
                    <h5>AUSTIN</h5>
                    <p>
                        119 Nueces St, 2nd floor<br/>
                        Austin, TX - 78701<br/>
                    </p>
                </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__bottom__container">
                <div class="footer__bottom__container__logo">

                </div>
                <div class="footer__bottom__container__menu">
                    <ul>
                        <li>
                            <a href="#">Web Profits USA</a>
                        </li>
                        <li>
                            <a href="#">Web Profits SEA</a>
                        </li>
                        <li>
                            <a href="#">Careers</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>       
                    </ul>
                </div>
                <div class="footer__bottom__container__copyright">
                    © 2020 Web Profits. All Rights Reserved
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
