
%btn {
    display: block;
    padding: 15px;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Roboto Slab', serif;
}

%btn_arr {
    content: "";
    width: 35px;
    height: 20px;
    background-image: url(../images/arrows_sprite.png);
    background-size: 80%;
    background-repeat: no-repeat;
    margin-left: 10px;
}

%white_btn_part {
    border: 2px solid rgb(211,61,92);
    background-color: rgb(255,255,255);
    color: rgb(211,61,92);
    width: 250px;
    padding: 13px 20px;
    margin: 50px auto;
}

%white_btn_arr_part {
    background-position: 50% 0%;
    margin-top: 5px;
}

%heading_first_child {
    font-size: 48px;
    width: 520px;
    margin: 60px auto 0 auto;
    color: rgb(255,255,255);
}

%span_nth_child_1 {
    font-size: 14px;
    width: 100%;
    color: rgb(180,180,180);
    display: block;
    font-weight: bold;
}

%span_nth_child_2 {
    display: block;
    font-weight: bold;
    font-size: 32px;
    color: rgb(255,255,255);
    margin: 20px 0 20px 0;
}

%span_nth_child_3 {
    float: left;
    font-size: 18px;
    color: rgb(255,255,255);
    font-weight: lighter;
    font-family: 'Roboto Slab', serif;
}

%span_nth_child_4 {
    @extend %btn_arr;
    background-position: 50% 33%;
    float: left;
    margin-top: 2px;
}

%white_h2 {
    font-size: 60px;
    color: rgb(255,255,255);
}

%black_h2 {
    font-size: 42px;
    color: rgb(34, 37, 46);
}